* {
    box-sizing: border-box;
    margin: 0;
}

body, .middle, .buttons, .container, .horizontal-container, .credit {
    display: flex;

}

body, .buttons, .container {
    flex-direction: column;
}

body, .middle, .buttons {
    justify-content: space-evenly;
}

body, .middle, .buttons, .credit {
    align-items: center;
}

body {
    height: 100vh;
    background-color: #242535;
}

h1, button, .credit {
    font-family: 'Silkscreen', sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, .credit {
    color: white;
}

h1 {
    font-size: 3rem;
    letter-spacing: 0.8rem;
}

.middle {
    width: 100%;
}

.buttons, button {
    width: fit-content;
}

.buttons {
    height: 60%;
}

button, span {
    padding: 0.5rem;
}

button, .child-div {
    background-color: white;
}

button, .container {
    box-shadow: 1px 2px 5px white;
}

button {
    border: 1px solid #242535;
    color: #242535;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.container {
    width: 35rem;
    height: 35rem;
    border: 2px solid #242535;
}

.horizontal-container, .child-div {
    flex: 1;
}

.horizontal-container {
    flex-wrap: nowrap;
}

.child-div {
    border: 1px solid #f3f3f3;
}

.credit {
    font-size: 1.1rem;
    width: 40%;
    justify-content: center;
    gap: 4px;
}

img {
    width: 1.5rem;
}

@media only screen and (max-width: 910px) {
    html {
        font-size: 13px;
    }
}

@media only screen and (max-width: 670px) {
    html {
        font-size: 10px;
    }
}
@media only screen and (max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    .middle {
        flex-direction: column;
    }

    .buttons {
        flex-direction: row;
        gap: 40px;
        height: fit-content;
    }

    .container {
        margin-top: 40px;
    }
}
